*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.quantity a{
  font-size: 3rem;
 text-decoration: none;
}
.quantity input{
  font-size: 3rem;
  width: 5rem;
  text-align: center;
}


